.form {
    display: flex;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 20px;
    width: 600px;
    flex-wrap: wrap;
    flex-direction: column;
}

.sub-heading {
    border-top: 1px solid #8a6911;
    margin: 15px 0px 0px 15px;
    color: #8a6911;
    p {
      margin-top: -10px;
      text-align: left;
      width: fit-content;
      background: #fff;
      padding-right: 5px;
    }
}


.element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex-basis: 30%;
    margin-left: 15px;
    label {
        text-align: left;
    }
    &.datepicker {
        flex-direction: row;
    }
}

.multi-checkbox {
    margin: 0px 5px;
}

input, textarea, select {
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 0px 5px;
    outline: none;
    height: 25px;
}

textarea {
    height: 100%;
}

label,
span {
    color: #6b6969;
    margin: 2px;
}
.full-width {
    flex-basis: 100%;
}

button {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    cursor: pointer;
    &.btn-solid {
        background: #3b99fb;
        color: white;
    }
}

.mat-datepicker-input {
    height: 40px;
}