<div class="flex-container justify-center">
    <div class="flex-container align-center flex-column">
        <div class="">
            <form [formGroup]="personForm" class="form">
                <div>
                    <div class="sub-heading">
                        <p>Basic Details</p>
                    </div>

                    <div class="flex-container flex-wrap">
                        <div class="element" [ngClass]="{
                mandatory: personForm.controls.firstName.validator,
                inValid: formSubmitted && personForm.controls.firstName.invalid
              }">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" />
                            <app-form-validation-messages *ngIf="formSubmitted"
                                [inputControl]="personForm.controls.firstName"></app-form-validation-messages>
                        </div>

                        <div class="element" [ngClass]="{
                mandatory: personForm.controls.lastName.validator,
                inValid: formSubmitted && personForm.controls.lastName.invalid
              }">
                            <label>Last Name</label>
                            <input type="text" formControlName="lastName" />
                            <app-form-validation-messages *ngIf="formSubmitted"
                                [inputControl]="personForm.controls.firstName"></app-form-validation-messages>
                        </div>

                        <div class="element">
                            <label>Marital Status</label>
                            <div class="flex-container align-center">
                                <input type="radio" formControlName="maritalStatus" value="married" />
                                <span>Married</span>
                                <input type="radio" formControlName="maritalStatus" value="un-married" />
                                <span>Un-Married</span>
                            </div>
                        </div>

                        <div class="element">
                            <label>Highest Qualification</label>
                            <select formControlName="qualification">
                                <option>-</option>
                                <option *ngFor="let degree of degrees">
                                    {{ degree }}
                                </option>
                            </select>
                        </div>

                        <div class="element" [ngClass]="{
                mandatory: personForm.controls.contactNumber.validator,
                inValid: formSubmitted && personForm.controls.contactNumber.invalid
              }">
                            <label>Contact Number</label>
                            <input type="text" formControlName="contactNumber" />
                            <app-form-validation-messages *ngIf="formSubmitted"
                                [inputControl]="personForm.controls.contactNumber"></app-form-validation-messages>
                        </div>

                        <div class="element" [ngClass]="{
                mandatory: personForm.controls.emailId.validator,
                inValid: formSubmitted && personForm.controls.emailId.invalid
              }">
                            <label>Email ID</label>
                            <input type="text" formControlName="emailId" />
                            <app-form-validation-messages *ngIf="formSubmitted"
                                [inputControl]="personForm.controls.emailId"></app-form-validation-messages>
                        </div>

                        <div class="element datepicker">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>

                        <div class="element">
                            <label>Hobbies</label>
                            <div class="flex-container">
                                <label *ngFor="
                    let hobby of hobbies.controls;
                    let i = index
                  " class="flex-container  align-center multi-checkbox">
                                    <input type="checkbox" [formControl]="hobby" (change)="onHobbyChange()" />
                                    {{ myhobbies[i].name }}
                                </label>
                            </div>
                        </div>

                        <div class="element full-width">
                            <label>Description</label>
                            <textarea formControlName="description" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div formGroupName="address">
                    <div class="sub-heading">
                        <p>Address</p>
                    </div>
                    <div class="flex-container flex-wrap">
                        <div class="element">
                            <label>Street</label>
                            <input type="text" formControlName="street" />
                        </div>

                        <div class="element">
                            <label>City</label>
                            <input type="text" formControlName="city" />
                        </div>

                        <div class="element">
                            <label>Country</label>
                            <input type="text" formControlName="country" />
                        </div>

                        <div class="element">
                            <label>Zipcode</label>
                            <input type="text" formControlName="zipcode" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <button class="btn-solid" (click)="validateForm();">Submit</button>
            <button (click)="resetForm();">Reset</button>
        </div>
    </div>

    <div class="details" *ngIf="showOutput">
        <table>
            <tr>
                <td colspan="2">
                    <h3>Basic Details</h3>
                </td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{ personForm.controls.firstName.value }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ personForm.controls.lastName.value }}</td>
            </tr>
            <tr>
                <td>Marital Status</td>
                <td>{{ personForm.controls.maritalStatus.value }}</td>
            </tr>
            <tr>
                <td>Qualification</td>
                <td>{{ personForm.controls.qualification.value }}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{ personForm.controls.contactNumber.value }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ personForm.controls.emailId.value }}</td>
            </tr>
            <tr>
                <td>DOB</td>
                <td>{{ personForm.controls.dob.value }}</td>
            </tr>
            <tr>
                <td>Hobbies</td>
                <td>{{ selectedHobbies }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ personForm.controls.description.value }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>Address Details</h3>
                </td>
            </tr>
            <tr>
                <td>Street</td>
                <td>{{ personForm.controls.address.controls.street.value }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{ personForm.controls.address.controls.city.value }}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{ personForm.controls.address.controls.country.value }}</td>
            </tr>
            <tr>
                <td>Zipcode</td>
                <td>{{ personForm.controls.address.controls.zipcode.value }}</td>
            </tr>
        </table>
    </div>
</div>