.transfer-details {
    max-width: 60%;
    margin: auto;
    margin-top: 50px;
  }
  .m-0 {
    margin: 0px !important;
  }
  .mr-24 {
    margin-right: 24px !important;
  }
  .mrg-24 {
    margin: 24px;
  }
  .pd-tb-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  