.user-info-container {
    padding: 20px;
    .user-info {
        margin: 5px 10px;
        margin-left: 0px;
        label {
            width: 100px;
        }
    }
    .text-center {
        text-align: center;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-left: 0px;
    }
    .text-center {
        text-align: center;
    }
    table {
        border: 1px solid #d4d4d4;
        border-spacing: 0px;
        th, td {
            padding: 10px;
            border-bottom: 1px solid #d4d4d4;
        }
    }
}