<div [ngClass]="{'loading-area': showLoader}">
  <div *ngIf="showLoader" class="loader-box">
    <div>
      <svg class="spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>
    <div class="loading-text">loading...</div>
  </div>
  <div class="header logined" *ngIf="appSvc.isLoginned">
    <div class="navigation">
      <span class="route-item cursor-pointer" routerLink="/home" 
        routerLinkActive="active" 
      ariaCurrentWhenActive="page">
        Home
      </span>
      <span class="route-item cursor-pointer" routerLink="/transferfunds" routerLinkActive="active" ariaCurrentWhenActive="page">
        Transfer Fund
      </span>
      <span class="route-item cursor-pointer" routerLink="/statements" routerLinkActive="active" ariaCurrentWhenActive="page">
        Statements
      </span>
    </div>
    <div class="flex userinfo v-align-c">
      {{appSvc.userInfo.user}}
      <img class="cursor-pointer" src="assets/images/logout.png" (click)="logout();" />
    </div>
  </div>
  <div class="header" *ngIf="!appSvc.isLoginned">
    <div class="logo-container">
      <img class="logo" src="assets/images/emiratesnbd_logo.webp" alt="ENBD" />
    </div>
  </div>
  <div class="route-container">
    <router-outlet></router-outlet>
  </div>
</div>