<mat-error *ngIf="inputControl.invalid">
    <div *ngIf="inputControl.errors">
        <p *ngIf="inputControl.errors.required">
            {{fieldName}} required
        </p>
        <p *ngIf="inputControl.errors.pattern">
            {{fieldName}} has invalid Input
        </p>
        <p *ngIf="inputControl.errors.email">
            {{fieldName}} has invalid email input
        </p>
        <p *ngIf="inputControl.errors.minlength">
            {{fieldName}} Minium value is invalid
        </p>
        <p *ngIf="inputControl.errors.maxlength">
            {{fieldName}} Maximun value is invalid
        </p>
    </div>
</mat-error>
